body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

form {
    width: 300px;
    background-color: white;
    padding: 20px;
    margin: auto;
    border: 1px solid #ccc;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
}

#successMsg {
    text-align: center;
    color: green;
    margin-top: 10px;
}
